<!DOCTYPE html>
<html>
<head>
    <title>DNA Encoder</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Signika">

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body {% block body_attrs %}{% endblock %}>

    {% block header %}
        <header>
            <h1 onClick="window.location.href='/'">Welcome to DNA Encoder!</h1>
            <p>"The not-all-that-useful tool for translating text in the language of life itself"</p>
        </header>
    {% endblock %}

    {% block mainContent %} {% endblock %}

    {% block footer %}
        <footer>
            <p>Page by Dustin Michels</p>
            <p>Built using Python, Flask, Jinja2, HTML, CSS, and Javascript.<p>
            <a href="https://github.com/dustinmichels/dnaEncoder" target="_blank">[See source code on github]</a><br>
            <p>Version 1.0, March 2017</p>

            <!--
            <a href="https://github.com/dustinmichels/dnaEncoder" target="_blank">
                <img style="width: 40px; height:auto;"
                 src="{{ url_for('static', filename='github.png') }}"/>
            </a>
            -->
        </footer>
    {% endblock %}

</body>
</html>